.sign-up-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.inputDiv{
    display: flex;
    flex-direction: column;
}
.inputDiv label{
    margin-bottom: 10px;
}
.inputDiv input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}
.inputDiv:last-child{
    grid-column: 1/3;
}